<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="s.css">-->
    <link rel="stylesheet" href="login.css">
    <title>Document</title>
</head>
<body>
    <div class="container mt-5">
            <div class="d"> 
                <img src="household ser (1).png" >
                <h1>A to Z Household services</h1>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="mt-3">
                    {% for  message in messages %}
                        <div >{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
   
                <form  method="POST" class="form1">
                     <div class="pro" style="align-items: end;"><a href="{{url_for(servicer)}}">registor as professional</a></div>
                   <div class="box">
                       
                        <h2>Login</h2>
                     <div class="box2">
                        <div class="e1">
                            <label for="email" >Registered email:  </label><br>
                            <input type="email" id="email" class="e1" placeholder="              email   "  name="email" required>
                           </div>
                       <br>
                       
                        <div class="e2">
                        <label for="password">Password:  </label><br>
                        <input type="password" id="password" placeholder="           password"  class="e2" name="password" required>
                        </div>
                       <br>
                     </div>
                    <button type="submit" class="btn btn-primary"  >login</button>
                    <a href="{{url_for(customer)}}">creat account?</a>
                   </div>
                </form>
                
              <script> console.log(email+password)</script>
    </div>
</body>
</html>