<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="servicer-home.css">
    <title>Document</title>
</head>
<body>
    <div class="continer">
        <div class="nav" style="display: flex; justify-content: space-between; font-size: 30px;">
            <h2 style="margin: 15px;">Welcome {{name}}!!</h2>
            <div class="nav-b"  style="margin: 15px;">
                <a href="***">Home</a>
                <a href="***">Search</a>
                <a href="***">Summary</a>
                <a href="{{url_for(login)}}">Logout</a>
            </div>
        </div>
        <div class="bookings">
            <table>
                <tr>
                    <th>Id</th>
                    <th>Customer Name</th>
                    <th>Contact Number</th>
                    <th>Address</th>
                    <th>Action</th>
                </tr>
                {%for i in b%}
                <tr>
                    <td></td>
                </tr>
                {%endfor%}
            </table>
        </div>
    </div>
</body>
</html>