<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sevices</title>
</head>
<style>
h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
}
.block{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 20px;
}
</style>
<body>
   <div class="continer">
    <h1>New services</h1>
    <div class="block">
        <form method="POST">
            <label for="serviceName">Service name:</label>
            <input type="text" name="serviceName" required >
            <br>
            <br>
            <label for="catogery">catogery:</label>
            <input type="text" name="catogery" required>
            <br>
            <br>
           <div class="add" style="display: flex;">
            <label for="discription">Discription:</label>
            <textarea name="discription" rows="5" required ></textarea>
           </div>
           <br>
           <label for="price">Base price:</label>
           <input type="number" name="price" value='{{price}}' required >
            <br>
           <input type="submit" value="Add" style="margin: 10px;">
        </form>
    </div>

   </div>
    
</body>
</html>